:root{
    --first-color:rgb(1, 1, 32);
    --white-color:rgb(255, 255, 255);
    --balck-color:rgb(0, 0, 0);
    --hover-color:rgb(238, 162, 22);
}

.header{
    position: sticky;
    top: 0;
    background-color:var(--first-color);
    width: 100%;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}
.image{
    display: flex;
    align-items: flex-end;
    margin-right:10px ;
    padding: 10px 115px 10px 5px;
    height: 50px; 
    width: 120px;
    border: 2px solid var(--first-color);
    cursor: pointer;
    position: relative;
}
.image:hover{
    border: 2px solid #fff;
}
.image img{
    width: 90px;
}
.image span{
    position: absolute;
    top: 8px;
    right: 5px;
}
.Adddress{
    display: flex;
    align-items: flex-end;
    padding: 5px;
    border: 2px solid var(--first-color);
    cursor: pointer;
    transition: 0.2s ease;
}
.Adddress:hover{
    border: 2px solid var(--white-color);
}
.Adddress p{
    font-size: 14px;
}
.Adddress h4{
    font-weight: 500;
}
.searchbox{
    height: 50px;
    width: 50%;
    display: flex;
    border: 4px solid var(--first-color);
    cursor: pointer;
    transition: 0.2s initial;
}
.searchbox:hover{
    border: 4px solid var(--hover-color);
    border-radius: 7px;
}
.searchbox:hover svg{
    border-radius: 0;
}
.searchbox input{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--white-color);
    outline: none;
    border-radius: 5px 0 0 5px;
}
.searchbox svg{
    height: 100%;
    width: 50px;
    padding: 5px;
    color: var(--balck-color);
    background-color: var(--hover-color);
    border-radius: 0px 5px 5px 0px;
}
.language{
   display: flex;
   align-items: flex-end;
   height: 50px;
   width: 50px;
   padding: 5px 10px;
   border: 2px solid var(--first-color);
   cursor: pointer;
   transition: 0.2s ease;
}
.language:hover{
    border: 2px solid var(--white-color);
}
.language span{
    font-weight: 600;
}
.sign{
    padding: 5px 10px;
    border: 2px solid var(--first-color);
    transition: 0.2s ease;
    cursor: pointer;
}
.sign:hover{
    border: 2px solid var(--white-color);
}
.sign p{
    font-size: 14px;
}
.sign h4{
    font-weight: 500;
}
.order{
    padding: 5px 10px;
    border: 2px solid var(--first-color);
    transition: 0.2s ease;
    cursor: pointer;
}
.order:hover{
    border: 2px solid var(--white-color);
}
.order p{
    font-size: 14px;
}
.order h4{
    font-weight: 500;
}
.cart{
    display: flex;
    align-items: end;
    padding: 3px 10px;
    border: 2px solid var(--first-color);
    transition: 0.2s ease;
    cursor: pointer;
}
.cart svg{
    width: 50px;
    font-size: 50px;    
}
.cart:hover{
    border: 2px solid var(--white-color);
}
.cartCount{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cartCount span{
    color: var(--hover-color);
    font-weight: 600;
}
.cartCount h4{
    font-weight: 500;
}